@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    color: blue;
}

a:hover, button:hover{
    text-decoration: underline;
}

#root > div {
    display: flex;
    flex-direction: column;

}

#root > div > div:first-child{ /* nav bar */
    background-color: rgb(225, 225, 255);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: min(20vh, 60px);

}
#root > div > div:nth-child(2){ /* non nav bar content */
    
}